<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="min-h-screen bg-zinc-900 text-white px-8 py-6">

        <div class="mb-6">
            <a href="/read" class="text-blue-500">Read Users</a>
        </div>

        <h1 class="text-3xl tracking-tighter mb-4">Create User</h1>

        <form class="flex items-center gap-3 border-2 border-zinc-800 p-4 rounded-lg max-w-4xl" method="post" action="/create">
            <input 
              class="px-3 py-1.5 text-sm bg-transparent border-2 border-zinc-800 rounded-md focus:outline-none focus:border-blue-500" 
              type="text" 
              name="name"
              placeholder="name">

            <input 
              class="px-3 py-1.5 text-sm bg-transparent border-2 border-zinc-800 rounded-md focus:outline-none focus:border-blue-500" 
              type="text" 
              name="email"
              placeholder="email">

            <input 
              class="px-3 py-1.5 text-sm bg-transparent border-2 border-zinc-800 rounded-md focus:outline-none focus:border-blue-500" 
              type="text" 
              name="image"
              placeholder="image-url">

            <input  
              class="px-4 py-1.5 text-sm bg-blue-500 rounded-md cursor-pointer hover:bg-blue-600"  
              type="submit" 
              value="Create User">
        </form>

    </div>
</body>
</html>


